name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: release
    runs-on: macOS-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
